.app.light {
    --bg-color: #fff;
    --inverted-bg-color: #333;

    --primary-color: #484848;
    --secondary-color: #d7d7d7;
    --inverted-primary-color: #ffffff;
    --inverted-secondary-color: #4b64fc;
}