.light {
  --bg-color: #f4f4f4;
  --primary-color: #252844;
  --secondary-color: #4348bd;
  --navbar-color: #040802;
  --navbar-border: none;
  --sidebar-color: #e8e8e9;
  --sidebar-border: none;

  .blured-circle {
    display: none;
  }
}
