.navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 10px;

    .links {
        display: flex;
        gap: 30px;
        margin-left: auto;
    }
}