.navbar {
  height: var(--navbar-height);
  background-color: var(--navbar-color);
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: var(--navbar-border);
}

.actionButtons {
  margin-left: auto;

  .authButton {
    display: flex;
    align-items: center;
    gap: 5px;
    font: var(--font-m);
  }
}
